@use "@styles/_variables.scss" as colors;
p {
  color: colors.$filter-button-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 5px;
}
input{
  border:none;
  color: colors.$filter-text-color;

}
input:focus{
  outline: colors.$filter-button-color solid 2px;
 }
.wrapper{
  display: flex;
  align-items: center;
  height: 2em;
}
