@use "@styles/_variables.scss" as colors;

.wrapper {
  width: 220px;
  height: 4.8em;
  margin: 20px auto 10px;
}

p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  max-height: 69px;
  text-align: right;
  color: colors.$item-title-color;
  overflow: hidden;
}
