.wrapper {
  width: 220px;
  height: 4.8em;
  margin: 20px auto 10px;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #4f4f4f;
}
