$filter-button-color: #2f80ed;
$filter-button-hover-color: #5ea2ff;
$filter-text-color: #929292;
$primary-background-color: #e5e5e5;
$search-background-color: #efefef;
$login-input-background: #e0e0e0;
$login-background: #F2F2F2;
