@use "@styles/_variables.scss" as colors;

.wrapper {
  width: 264px;
  height: 327px;
  margin: 14px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 3px 3px 3px);
  background-color: colors.$primary-background-color;
  border-radius: 5px;
}

.counters {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}
.title {
  flex-grow: 2;
}

.status {
  align-self: flex-end;
  width: 100%;
  margin: 5px 0 0;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  perspective: 1px;
}

.favorite {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  & img {
    max-width: 32px;
    max-height: 32px;
  }
}

.delete {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  margin-right: 7px;
  margin-bottom: 12px;
  & img {
    max-width: 24px;
    max-height: 24px;
  }
}
